<h4>Yo <%= @user.name %></h4>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
  </tr>

  <tbody>
  <% (@from..@to).each do |date| %>
    <tr>
      <td><%= date.to_s %></td>
      <td>$<%= @user.events.at(date).total_amount.to_s %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4>Total: $<%= @user.events.between(@from, @to).total_amount.to_s %></h4>
