<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to 'Projects', admin_projects_path, class: 'btn btn-lg btn-default btn-block', role: 'button' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to 'Users', admin_users_path, class: 'btn btn-lg btn-default btn-block', role: 'button' %>
  </div>
</div>