<div class="row margin-top-20">
  <div class="col-md-offset-2 col-md-8 col-xs-12">
    <table id="feedbacksTable"
           class="table table-striped table-bordered table-responsive"
           data-source="<%= admin_feedbacks_path format: 'json' %>">

      <thead>
      <tr>
        <th>Comment</th>
        <th>User</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      </tbody>
      <tfoot>
      <div id="statusFilter" class="col-md-5 col-xs-6">
        Show <%= select_tag "statusFilter", options_for_select([:all, :pending, :in_progress, :resolved, :dismissed ].map {|status| [status.to_s.humanize, status]}.to_h) %> feedbacks
      </div>
      </tfoot>
    </table>
  </div>
</div>