<div class="modal fade" id="createEvent" tabindex="-1" role="dialog"
     aria-labelledby="createEventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="createEventLabel">What did you do?</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'welcome/partials/event_form', locals: { event: Event.new, date: date } %>
      </div>
    </div>
  </div>
</div>