<%= react_component('Calendar', eventsUrl: events_path(format: 'json'), url: root_path(format: 'json', date: @date)) %>
<%= react_component('VacationRequests', requestsUrl: vacation_requests_path(format: 'json')) %>

<div id="new-event-form-container" class="modal">
  <div class="modal-content">
    <%= render partial: 'welcome/event_form', locals: { event: current_user.events.new } %>
  </div>
</div>

<div id="new-vacation-form-container" class="modal">
  <div class="modal-content">
    <%= render partial: 'welcome/vacation_form', locals: { vacation: current_user.vacation_requests.new } %>
  </div>
</div>

<div id="event-form-container" class="modal">
  <div class="modal-content"></div>
</div>

<div id="vacation-form-container" class="modal">
  <div class="modal-content"></div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="right-align btn-floating btn-large waves-effect waves-light red modal-trigger" href="#calendar-modal">
    <i class="material-icons">today</i>
  </a>
</div>