<div class="datepicker-container row col-md-offset-4 col-md-4 col-xs-12 margin-bottom-20">
  <%= render partial: 'application/datepicker_with_submit_btn', locals: { url: root_path,
                                                                          placeholder: 'Check some other date...' } %>
</div>

<%= render partial: 'events' %>
<%= render partial: 'vacations' %>