<div class="datepicker-container row col-md-offset-4 col-md-4 col-xs-12 margin-bottom-20">
  <%= render partial: 'application/datepicker_with_submit_btn', locals: { url: root_path,
                                                                          placeholder: 'Check some other date...' } %>
</div>

<% content_for :list_items do %>
  <!-- Making sure this is not empty -->
  <% events_at(@date).each do |event| %>
    <%= render partial: 'event_info', locals: { event: event } %>
  <% end %>
<% end %>

<% content_for :panel_title, "#{title}" %>

<% content_for :custom_modal_id, 'addEvent' %>

<% content_for :custom_modal do %>
  <%= render partial: 'application/modal',
             locals: {
                     resource_name: 'Event',
                     resource_id: 'Event',
                     resource_title: 'New Event',
                     body: 'event_form',
                     form_params: { event: current_user.events.new }
             } %>
<% end %>

<%= render file: 'application/panel' %>