<table class="table table-bordered">
  <thead>
  <tr>
    <th>Project Name</th>
    <th>Create At</th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, edit_admin_project_path(project) %></td>
      <td><%= project.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>