<div class="list-group">
  <div class="list-group-item">
    <div class="row">
      <div class="col-xs-10">
        <h4 class="list-group-item-heading"><%= link_to user.name, edit_admin_user_path(user.id) %></h4>
        <p class="list-group-item-text">Hourly Rate: <%= project_details(user_project).hourly_rate %></p>
        <p class="list-group-item-text">Hourly Rate OT: <%= project_details(user_project).hourly_rate_ot %></p>
      </div>

      <div class="col-xs-2">
        <%= link_to remove_user_admin_projects_path(user_id: user.id, slug: @project.slug), remove_user_options do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>