<tr>
  <td class="col-xs-4" style="vertical-align: middle;">
    <h4 class="list-group-item-heading"><%= user.name %></h4>
  </td>

  <td style="text-align: right;">
    <%= link_to remove_user_admin_projects_path(user_id: user.id, slug: @project.slug), remove_user_options do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
  </td>
<tr>
