<div class="container" id="chat-container">
  <h4>Chat room</h4>

  <div class="row">
    <div className="col s6">
      <div id="chat-box">
        <div id="messages">
          <%= render @messages %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div className="col s6">
      <form>
        <label>Say something:</label><br>
        <input type="text" data-behavior="room_speaker">
      </form>
    </div>
  </div>
</div>