<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Type="String"> email/date </Cell>
        <% (@data.table_from..@data.table_to).map(&:to_s).each do |date| %>
            <Cell><Data ss:Type="String"><%= date %></Data></Cell>
        <% end %>
      </Row>

      <% @data.data.each do |user, hash| %>
        <Row>
          <Cell><Data ss:Type="String"><%= user %></Data></Cell>
          <% (@data.table_from..@data.table_to).map(&:to_s).each do |date| %>
              <Cell><Data ss:Type="Number"><%= hash[date] || 0.0 %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>