// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-container {
    float: left;
    width: 350px;
    height: 280px;
    font-weight: bold;
    

    th, td {
        padding: 5px;
        height: 30px;
        width: 50px;
        text-align: center;
        cursor: default;

        &.right-align {
            text-align: right;
        }

        &.left-align {
            text-align: left;
        }
    }

    span {
        width: 30px;
        height: 30px;
        line-height: 30px;

        &.has-event {
            color: #ffffff;
        }
    }
}

.daily-events-container {
    border-radius: 25px;
    float:left;
    width: 700px;
    padding: 30px;
    
    font-weight: bold;

    th, td {
        
    }

    .duration {
        text-align: center;
        width: 90px;
    }

    .total {
        text-align: right;
        width: 120px;
    }
}