// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-container {
    float: left;
    width: 350px;
    height: 280px;
    font-weight: bold;
    

    th, td {
        padding: 5px;
        height: 30px;
        width: 50px;
        text-align: center;
        cursor: default;

        &.right-align {
            text-align: right;
        }

        &.left-align {
            text-align: left;
        }
    }

    span {
        width: 30px;
        height: 30px;
        line-height: 30px;

        &.has-event {
            color: #ffffff;
        }
    }
}

.daily-events-container {
    border-radius: 25px;
    float:left;
    width: 700px;
    margin: 30px;
    padding: 10px;
    background-color: #e8eff5;
    
    font-weight: bold;

    td {
        padding: 7px 5px;
    }

    .task-header {
        background-color: #2196F3;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .duration {
        text-align: center;
        width: 90px;
    }

    .total {
        text-align: right;
        width: 120px;
    }

    .date {
        color: #F44336;
        padding-bottom: 15px;
        text-align: center;
        font-size: 17px;
    }

    .project-name {
        text-align: center;
        font-size: 18px;
    }

    .label {
        padding-bottom: 15px;
    }

    .overtime-checkbox {
        position: relative !important;
        left: 0 !important;
        top: 20px;
        visibility: visible !important;
    }
}

.input-field {
    .label {
        top: -0.2rem;
    }
}

.waves-button-input {
    border: none;
    background-color: #26a69a;
    font-style: normal;
}