<!-- Datepicker -->

<div class="datepicker-container row col-md-offset-4 col-md-4 col-xs-12" style="margin-bottom: 20px;">
  <div class="input-group input-group-lg">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </span>
    <input type="text" class="form-control datepicker" placeholder="Check some other date...">
    <span class="input-group-btn">
      <button class="btn btn-default datepicker-trigger" data-target="<%= url %>" type="button">Go!</button>
    </span>
  </div>
</div>