<!-- Datepicker -->
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  </span>
  <input type="text" class="form-control datepicker" placeholder="<%= placeholder %>">
  <span class="input-group-btn">
    <button class="btn btn-default datepicker-trigger" data-target="<%= url %>" type="button">Go!</button>
  </span>
</div>