<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= yield :panel_title %></h4></div>

      <div class="list-group">
        <%= yield :list_items %>
      </div>

      <div class="panel-footer">
        <div style="text-align: center;">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#<%= yield :custom_modal_id %>">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <%= yield :custom_modal %>
    </div>
  </div>
</div>