// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.error {
  color: $error-color;
  margin-top: 85px;
  font-size: 12px;
}

.vacation-reason label.error{
  margin-top: 110px;
}

.select-wrapper + label {
  position: absolute;
  top: 12px;
}

.input-field label {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
}

.card {
  margin-top: 50px;
  overflow: visible;
}

#calendar-modal {
  max-width: 400px;

  .modal-content {
    padding: 2%;

    &.calendar-container {
      width: 96%;
      margin: 0 auto;

      th, td {
        cursor: default;
        width: 14%;
      }

      font-weight: bold;

      span {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

.absolute-btn {
  position: absolute;
  right: 10px;
  bottom: -18px;
}

.delete-btn {
  position: absolute;
  right: 60px;
  bottom: -18px;
}

.absolute-btn-large {
  position: absolute;
  right: 20px;
  bottom: -27px;
}

@media (max-width: 500px) {
  #calendar-modal {
    width: 100%;

    .modal-content {

      &.calendar-container {
        span {
          font-size: 12px;
          width: 22px;
          height: 22px;
          line-height: 22px;
        }
      }
    }
  }
}