<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <ul class="nav nav-justified">
        <li> <%= licence_link.html_safe %> </li>
      </ul>
    </div>
  </nav>
</footer>